* {
	font-family: 'Roboto', sans-serif;
}

li{
	list-style: none;
}

nav, footer {
	background-color: #231f20;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 90;
}

nav.row {
	margin-right: 0 !important;
}

nav h1 {
	height: 60px;
	width: 120px;
	background: url("../imagenes/logo-alternativo.svg") no-repeat center;
	margin: 0;
	font-size: 0;
}

nav div:nth-child(3) {
	padding-top: 16px;
}

.info {
	color: rgba(255, 255, 255, 0.5);
	padding: 0.5rem;
}

.info:hover {
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#total {
	color: rgba(255, 255, 255, 0.75);
	margin-right: 10px;
	font-weight: 100;
}

#total:hover {
	cursor: pointer;
	color: white;
}

#carrito:hover {
	cursor: pointer;
}

#carrito {
	background: url(../imagenes/carrito.svg) no-repeat top;
	display: inline-block;
	width: 25px;
	height: 25px;
}

.productoFinal {
	margin: 0px auto 10px auto;
	display: block;
	font-size: 1.2rem;
}

#contador {
	border-radius: 100%;
	position: absolute;
	top: 5px;
	right: 7px; 
	z-index: 1000;
	width: 20px;
	height: 20px;
	background-color: #7c1f5d;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contador span {
	font-size: 12px;
	color: white;
}

img {
	max-width: 100%;
}

aside > div {
	max-width: 320px;
	max-height: 170px;
	margin: auto;
}
@media only screen and (min-width: 770px){
	aside > div {
		max-width: 640px;
		max-height: 290px;
	}
}
aside {
	margin-top: 30px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators li{
	filter: invert(70%);
}

h2 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.destacados .card {
	margin-top: 20px;
}

.categoria {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	height: 80px;
	border-radius: 15px;
	font-size: 1.3rem;
	line-height: 65px;
}

a.categoria {
	max-width: 600px;
}

.mosaico {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mosaico img{
	border: 1px solid rgba(0, 0, 0, 0.125);
}

footer div {
	padding: 30px 0;
}

#contacto {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	background: url(../imagenes/logo.svg) no-repeat center;
}

footer div div p {
	color: white;
	text-align: center;
	margin-bottom: 40px;
}

a[href*="sofia"] {
	text-decoration: none;
	display: inline-block;
	width: 250px;
	color: white;
	text-align: right;
	background: url(../imagenes/mail.svg) no-repeat;
}

#redes {
	padding: 0 80px;
}

#ig {
	width: 50px;
	height: 50px;
	background: url(../imagenes/ig.svg) no-repeat center;
}

/* ---------- PRODUCTOS ------------*/

.productos {
	max-width: 300px;
	margin: 20px;
	padding: 0;
}

.productos a:hover, .mosaico a:hover {
	filter: opacity(75%);
}

.productos p, .exit{
	color: #7c1f5d;
}

.productos div {
	text-align: center;
}

.exit {
	margin-top: 10px;
}

.exit:hover {
	text-decoration: none;
	color: #67194d;
}

/* -------------- PRODUCTO INDIVIDUAL -------*/

.descripcion {
	padding: 1.5rem;
}

.descripcion h3{
	margin-top: 15px;
	margin-bottom: 15px;
}

.sumayresta {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	font-weight: 1000;
}

.sumayrestaMiniatura {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
}

.precio {
	font-size: 1.5rem;
	display: block;
	margin-top: 10px;
}

#cantidad {
	font-size: 2.5rem;
	font-weight: 500;
	vertical-align: center;
	margin-right: 30px;
	margin-left: 30px;
}

.compras {
	width: 300px;
	margin-top: 15px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

.centrar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.orden {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

@media only screen and (max-width: 500px){
	.orden {
		text-align: center;
		display: block;
	}
}

@media only screen and (max-width: 500px){
	.ordenMini {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 410px){
	.ordenMini {
		margin-right: 25px;
		margin-left: 15px;
	}
}


/*-------- VENTANA MODAL DE COMPRA -----------*/

.fondoCompra {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.compra {
	background-color: white;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 900px;
}

.compra button {
	width: 70%;
	margin-top: 10px;
}

.equis {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.equis:hover,
.equis:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 5px;
}

.titulillo {
	background-color: #FDFDC3BF
	padding: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	color: #7c1f5d;
}

.alumno {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.alumno ul {
	padding-left: 1rem;
}

.alumno li {
	margin-top: 1rem;
	font-size: 1.15rem;
}